In [41]:

from error import Error
import pandas as pd
import os
import re

In [67]:
def read_excel(file_name: str, replace_nan=None) -> (pd.DataFrame, Error):
    try:
        out = pd.read_excel(file_name, dtype=str)

        if replace_nan is not None:
            out.fillna(replace_nan, inplace=True)
            out.replace(to_replace='nan', value=replace_nan, inplace=True)
        return out, Error(None)
    except Exception as e:
        return None, Error(file_name + str(e))

In [68]:
df, error = read_excel(os.path.join('data', 'make_product_tables_config.xlsx'), replace_nan='')

In [82]:
xl = pd.ExcelFile(os.path.join('data', 'make_product_tables_config.xlsx'))

In [83]:
xl.sheet_names

['mosfet', 'igbt_modules']

In [69]:
print(error)

In [70]:
df.at[0, 'opt1']

''

In [71]:
df.columns

Index(['step#', 'step_name', 'func', 'opt1', 'opt2', 'destination', 'source1',
       'source2', 'source3', 'source4', 'source5', 'source6', 'source7',
       'source8', 'source9', 'source10', 'source11', 'source12', 'source13',
       'source14', 'source15', 'source16', 'source17', 'source18', 'source19',
       'source20', 'source21', 'source22', 'source23', 'source24', 'source25',
       'source26', 'source27', 'source28', 'source29', 'source30', 'source31',
       'source32', 'source33', 'source34', 'source35', 'source36', 'source37',
       'source38', 'source39', 'source40', 'source41', 'source42', 'source43',
       'source44', 'source45', 'source46', 'source47', 'source48', 'source49',
       'source50'],
      dtype='object')

In [72]:
steps = []

In [73]:
df.to_dict('split')

{'index': [0, 1, 2, 3, 4, 5, 6, 7, 8],
 'columns': ['step#',
  'step_name',
  'func',
  'opt1',
  'opt2',
  'destination',
  'source1',
  'source2',
  'source3',
  'source4',
  'source5',
  'source6',
  'source7',
  'source8',
  'source9',
  'source10',
  'source11',
  'source12',
  'source13',
  'source14',
  'source15',
  'source16',
  'source17',
  'source18',
  'source19',
  'source20',
  'source21',
  'source22',
  'source23',
  'source24',
  'source25',
  'source26',
  'source27',
  'source28',
  'source29',
  'source30',
  'source31',
  'source32',
  'source33',
  'source34',
  'source35',
  'source36',
  'source37',
  'source38',
  'source39',
  'source40',
  'source41',
  'source42',
  'source43',
  'source44',
  'source45',
  'source46',
  'source47',
  'source48',
  'source49',
  'source50'],
 'data': [['1',
   'select mosfets',
   'filter_and_remove_empty',
   '',
   '',
   'ParentHierarchyNodeId',
   '185',
   '158',
   '169',
   '2461',
   '166',
   '160',
   '157',
   '120',
   '1341',
   '187',
   '186',
   '184',
   '1344',
   '2001',
   '1381',
   '191',
   '1382',
   '174',
   '1383',
   '156',
   '172',
   '173',
   '188',
   '1804',
   '1343',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['2',
   'arrange columns',
   'arrange_column_order',
   '',
   '',
   '',
   'Ispn',
   'Package_3',
   'V<sub>DS</sub>',
   'R<sub>DS (on)</sub>',
   'I<sub>D </sub>',
   'Technology',
   'Type',
   'Qualification',
   'Applications',
   'OpnStatus',
   'Data Sheet',
   'ProductPageUrl',
   'NewUntil',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['3',
   'Rename Package_3',
   'rename_column',
   '',
   '',
   'Package',
   'Package_3',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['4',
   'Package',
   'fill_column_value_all',
   '',
   '',
   'Package',
   'Package',
   'OpnPackage',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['5',
   'V<sub>DS</sub>',
   'fill_column_value_all',
   '',
   '',
   'V<sub>DS</sub>',
   'V<sub>DS</sub>',
   'Voltage Class',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['6',
   'R<sub>DS (on)</sub>',
   'fill_column_value_all',
   '',
   '',
   'R<sub>DS (on)</sub>',
   'R<sub>DS (on)</sub>',
   'R<sub>DS (on)</sub> @ Tj = 25°C',
   'R<sub>DS (on)</sub> @10V',
   'R<sub>DS (on)</sub> @4.5V',
   'R<sub>DS (on)</sub> @4.5V LL',
   'R<sub>DS (on)</sub> @2.7V',
   'R<sub>DS (on)</sub> @2.5V',
   'R<sub>DS (on)</sub> @1.8V',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['7',
   'Technology',
   'fill_column_value_all',
   '',
   '',
   'Technology',
   'Technology',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['8',
   'Type',
   'fill_column_value_all',
   '',
   '',
   'Type',
   'Type',
   'Polarity',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   ''],
  ['9',
   'I<sub>D </sub>',
   'fill_column_value_all',
   '',
   '',
   'I<sub>D </sub>',
   'I<sub>D </sub>',
   "I<sub>D </sub> @25°C'",
   'I<sub>D </sub> @ T<sub>A</sub>=25°C',
   'I<sub>D </sub> @ T<sub>A</sub>=70°C',
   'I<sub>D </sub> @ T<sub>C</sub>=100°C',
   'I<sub>D </sub> @ T<sub>C</sub>=25°C',
   'I<sub>D </sub> @ T<sub>C</sub>=70°C',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '']]}

In [74]:
def read_parameter(df: pd.DataFrame, index, parameter_name, parameter_type='single', first_is_zero=False):
    def split_name_and_number(s: str):
        match = re.match(r"([a-zA-Z, 0-9,_]+[a-zA-Z,_]+)([0-9]+)$", s, re.I)
        if match:
            name, number = match.groups()
            return str(name), int(number)
        else:
            return ('', 0)
    if parameter_type == 'single':
        return df.at[index, parameter_name]
    elif parameter_type == 'list':
        res_list = []
        max_res_index=-1
        for col_name in df.columns:
            name, number = split_name_and_number(col_name)
            if name == parameter_name and df.at[index, col_name] != '':
                if int(number) > max_res_index:
                    res_list.extend(['']*(number-max_res_index))
                    max_res_index=number
                res_list[number] = df.at[index, col_name]
                
        if first_is_zero:
            return res_list
        else:
            return res_list[1:]

In [75]:
read_parameter(df, 0, 'destination', 'single')

'ParentHierarchyNodeId'

In [76]:
read_parameter(df, 0, 'source', 'list')

['185',
 '158',
 '169',
 '2461',
 '166',
 '160',
 '157',
 '120',
 '1341',
 '187',
 '186',
 '184',
 '1344',
 '2001',
 '1381',
 '191',
 '1382',
 '174',
 '1383',
 '156',
 '172',
 '173',
 '188',
 '1804',
 '1343']

In [77]:
 def split_name_and_number(s: str):
        match = re.match(r"([a-zA-Z, 0-9,_]+[a-zA-Z,_]+)([0-9]+)$", s, re.I)
        if match:
            items = match.groups()
            return items
        else:
            return ('', 0)

In [78]:
split_name_and_number('sour_ce8873NHnjn67')

('sour_ce8873NHnjn', '67')

In [28]:
l = []

In [35]:
l.insert(1, 'ww')

In [36]:
l

['rr', 'ww', 'rr', 'ww']

In [37]:
['r']*5

['r', 'r', 'r', 'r', 'r']

In [95]:
d = (1,2,3,4,5)

In [96]:
zip(*[iter(d)]*2

SyntaxError: unexpected EOF while parsing (<ipython-input-96-061f38541b2f>, line 1)

In [97]:
for (k, i) in zip(*[iter(d)]*2):
    print(k, i)

1 2
3 4