In [1]:
a=[1,2,3]

In [2]:
b=a

In [3]:
b[0] = 666

In [4]:
a

[666, 2, 3]

In [5]:
del b

In [6]:
a

[666, 2, 3]

In [7]:
b

NameError: name 'b' is not defined

In [8]:
def f(l: list, j: list):
    l = l + ['666']
    j.append('777')

In [9]:
a = [1,2,3]

In [10]:
b = [7,8,9]

In [11]:
f(a, b)

In [12]:
a

[1, 2, 3]

In [13]:
b

[7, 8, 9, '777']

In [14]:
import pandas as pd
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
df = pd.DataFrame({
      'http_status': [200,200,404,404,301],
      'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
       index=index)

df1 = pd.DataFrame({
      'fuck': [200,200,404,404,301],
      'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
       index=index)

In [18]:
df

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [19]:
df.loc['Safari', 'qqq'] = 777
df.loc['Chrome', 'ggg'] = 555
df

           http_status  response_time    qqq    ggg
Firefox            200           0.04    NaN    NaN
Chrome             200           0.02    NaN  555.0
Safari             404           0.07  777.0    NaN
IE10               404           0.08    NaN    NaN
Konqueror          301           1.00    NaN    NaN

In [24]:
df.loc[df['http_status'] == 404].loc[:, 'qqq']='ggg'

c:\users\basov\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [19]:
def reorder(df):
    order = ['response_time', 'http_status']
    df = df.reindex(order, axis=1, copy=False)

In [20]:
reorder(df)
df

           http_status  response_time  eee
Firefox            200           0.04  666
Chrome             200           0.02  666
Safari             404           0.07  666
IE10               404           0.08  666
Konqueror          301           1.00  666

In [21]:
df

           http_status  response_time  eee
Firefox            200           0.04  666
Chrome             200           0.02  666
Safari             404           0.07  666
IE10               404           0.08  666
Konqueror          301           1.00  666

In [22]:
df[['response_time', 'http_status']]

           response_time  http_status
Firefox             0.04          200
Chrome              0.02          200
Safari              0.07          404
IE10                0.08          404
Konqueror           1.00          301

In [23]:
df.update(df1)

In [24]:
df

           http_status  response_time  eee
Firefox            200           0.04  666
Chrome             200           0.02  666
Safari             404           0.07  666
IE10               404           0.08  666
Konqueror          301           1.00  666

In [8]:
s = 'abs.d.xlsx'

In [9]:
name, ext = s.split('.', 1)

In [10]:
name

'abs'